<div class="container">
 <div class="row">
  <div class="col-md-8 mx-autp post-form-container">
   <h2 class="h2">スレッド新規登録</h2>
   <%= form_with(url: create_topic_path, model: @topic, local: true, method: :post, html: { class: 'post-form' }) do |f| %>
   
    <% if @topic.errors.any? %>
     <ul>
      <% @topic.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %> </ul>
    <% end %>
        
    <div class="form-group">
     <%=f.label"スレッド名",class:'form-label'%>
     <%=f.text_field:title,class:'form-control'%>
    <div>
    
    <div class="form-group">
     <%= f.label "本文", class: 'form-label' %>
     <%= f.text_area :body, class: 'form-control' %>
    </div>
    
    <div class="form-group image-upload">
     <%= f.label "画像", class: 'form-label' %>
     <div class="image-preview" id="imagePreview">
      <img src="" alt="Image Preview" class="image-preview__image">
      <span class="image-preview__default-text">Image will be displayed here</span>
     </div>
     <%= f.file_field :image, class: 'form-control-file', id: 'imageUpload' %>
    </div>
    
    <div class="button-group">
     <%= f.submit '登録', class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>